@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply bg-primaryLight dark:bg-primary;
}
.custom-transition::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleY(0);
  transition:
    transform 0.2s,
    width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
    background-color 0.1s;
}

.custom-transition:focus::after {
  transform: scaleY(1);
  width: 100%;
}

.custom-transition-force::after {
  content: '';
  position: absolute;
  transform: scaleY(1);
  width: 100% !important;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
